        <!-- Main Content -->
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="layers"></i></span></span>Contact</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

						<div class="tab-content mt-sm-10 mb-sm-30 mt-30">
							<div class="tab-pane fade show active" role="tabpanel">
								<div class="container">


									<div class="hk-row">  <!-- 이게 한 row-->




										<div class="col-lg-6">

											<div class="card card-profile-feed">
												<div class="card-body">
													<div class="col-xl-12 pa-0">
														<section class="hk-sec-wrapper">
                                                            <span class="text-dark">"제 홈페이지를 방문해주셔서 감사합니다. :D<br/><br/></span>
                                                            <span class="font-12">근데 사실 여기 뭐 없어요 :D  10년 뒤에는 볼만한게 생길지도..<br/></span>
                                                            <span class="font-12">아래의 sns 등을 통해서 저에게 연락을 주시거나 <br/>아니면 더 아래의 방명록에 글을 남겨주세요.</span>                                                                 
                                                        </section>
                                                    </div>
                                                </div>
												<ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><span><i class="ion ion-md-home font-15 text-light-20 mr-10"></i><span class="font-12">E-mail:   </span></span><span class="ml-5 font-12 text-dark">bluefriday86@gmail.com</span></li>
                                                    <li class="list-group-item"><span><i class="ion ion-md-home font-15 text-light-20 mr-10"></i><span class="font-12">Phone:    </span></span><span class="ml-5 font-12 text-dark">+82-10+9361-0178</span></li>
                                                    <li class="list-group-item"><span><i class="ion ion-md-home font-15 text-light-20 mr-10"></i><span class="font-12">Github:   </span></span><span class="ml-5 font-12 text-dark">http://github.com/bluefriday</span></li>
                                                    <li class="list-group-item"><span><i class="ion ion-md-home font-15 text-light-20 mr-10"></i><span class="font-12">Linked-in:</span></span><span class="ml-5 font-12 text-dark">www.linkedin.com/in/희창-이-6a452a12a</span></li>
                                                    <li class="list-group-item"><span><i class="ion ion-md-home font-15 text-light-20 mr-10"></i><span class="font-12">Kakaotalk:</span></span><span class="ml-5 font-12 text-dark">trylhc@nate.com</span></li>
                                                </ul>
											</div>
                                        </div>
                                        
										<!-- Right area : my picture -->
										<div class="col-lg-6">
											<div class="card card-profile-feed">
												<div class="card-body">
													<div class="col-xl-12 pa-0">
														<section class="hk-sec-wrapper">
															<div class="row">
																<div class="col-sm">
																	<div class="row">
																	<img src="image/me_22.jpg" class="img-fluid rounded mx-auto d-block" alt="img">
																</div>
															</div>
														</section>
													</div>


												</div>

                                            </div>
										</div>

                                    </div>
								</div>
							</div>
						</div>	

 
                        <!--disquss 방명록 영역-->
                        <div id="disqus_thread"></div>
                        <script>
                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://bluefriday86.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>


                    </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="https://hencework.com/" class="text-dark" target="_blank">Hencework</a> © 2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
        <!-- /Main Content -->
