        <!-- Main Content -->
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">


                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="layers"></i></span></span>Game</h4>
                </div>
                <!-- /Title -->



                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper hk-invoice-wrap pa-35">
							<hr>
                            <ul class="invoice-terms-wrap font-14 list-ul">
                                <li>일단은 "ul" 이랑 "li"태그로 나열만 해두고 하나씩 꾸미자</li>
                            </ul>
                            <ul class="invoice-terms-wrap font-14 list-ul">
                                <hr>
                                <p>PC - Simulation</p>
                                <li>C&C red alert</li>
                                <li>C&C tiberian sun</li>
                                <li>삼국지 2</li>
                                <li>삼국지 4</li>
                                <li>삼국지 5</li>
                                <li>삼국지 6</li>
                                <li>Princess maker 1</li>
                                <li>Princess maker 2</li>
                                <li>Princess maker 3</li>
                                <li>Starcraft</li>
                                <li>Simcity 2000</li>
                                <li>Simcity 3000</li>
                                <li>Settler</li>
                                <li>장보고전</li>
                                <li>Warcraft 2</li>
                                <li>킹덤 언더 파이어</li>
                                <li>임진록</li>
                                <li>Battel bugs</li>
                                <li>롤러코스터 타이쿤</li>
                                <li>모나크 모나크</li>
                                <li>삼국지 천명전</li>
                                <li>삼국 통일 대륙을 꿈꾸며</li>
                                
                                <hr>
                                <p>PC - 고전게임1</p>
                                <li>터프가이</li>
                                <li>어쩐지 저녁</li>
                                <li>위험한 데이브</li>
                                <li>마이러브</li>
                                <li>뱀프 1/2</li>
                                <li>재즈 잭 래빗</li>
                                <li>스카이 로드</li>
                                <li>못말리는 탈옥범</li>
                                <li>고등학생의 하루</li>
                                <li>랩터</li>
                                <li>지클런트</li>
                                <li>둠</li>
                                <li>울펜슈타인</li>
                                <li>그날이 오면</li>
                                <li>레이맨</li>
                                <li>길 잃은 바이킹 1</li>
                                <li>길 잃은 바이킹 2</li>
                                <li>메가맨 시리즈</li>
                                <li>심슨 가족</li>
                                <li>듀크 뉴캠 2</li>
                                <li>남극 탐험</li>
                                <li>티피의 모험</li>


                                <hr>
                                <p>PC - 고전게임2</p>
                                <li>웜즈 2</li>
                                <li>웜즈 아마게돈</li>
                                <li>레밍스</li>
                                <li>7번째 손님</li>
                                <li>포트리스</li>
                                <li>Done</li>
                                <li>레인보우 식스</li>
                                <li>버츄얼 온</li>
                                <li>삼국지 오델로</li>
                                <li>버츄어 캅</li>
                                <li>하드볼 시리즈</li>
                                <li>비트 매니아</li>
                                <li>액츄어 사커</li>
                                <li>퀸 오브 하트 99</li>
                                <li>폭탄인간</li>
                                <li>에베루즈</li>
                                <li>멜티 블러드</li>

                                <hr>
                                <p>PC - RPG</p>
                                <li>밴티지 마스터 택틱스 v1</li>
                                <li>밴티지 마스터 택틱스 v2</li>
                                <li>Farland tactics 1</li>
                                <li>Farland tactics 2</li>
                                <li>Farland tactics 3</li>
                                <li>삼국지 영걸전 : 영걸전</li>
                                <li>삼국지 영걸전 : 공명전</li>
                                <li>삼국지 영걸전 : 조조전</li>
                                <li>창세기전 : 서풍의 광시곡</li>
                                <li>창세기전 : 템페스트</li>
                                <li>창세기전 3</li>
                                <li>날아라 슈퍼보드 : 환상서유기</li>
                                <li>Lineage</li>
                                <li>Diablo 1</li>
                                <li>Diablo 2</li>
                                <li>Diablo 3</li>
                                <li>Nox</li>
                                <li>젤다의 전설</li>
                                <li>도쿄 야화 2</li>
                                <li>Spiritual soul</li>
                                <li>전사 라이안</li>
                                <li>World of Warcraft</li>
                                <li>Final fantasy 1</li>
                                <li>Final fantasy 3</li>
                                <li>Final fantasy 6</li>
                                <li>성검전설 3</li>
                                <li>마법사가 되는 방법</li>
                                <li>영웅전설 3 : 하얀마녀</li>
                                <li>영웅전설 4 : 주홍물방울</li>
                                <li>영웅전설 5 : 바다의 함가</li>
                                <li>대항해시대 2</li>
                                <li>대항해시대 4</li>
                                <li>환세취호전</li>

                                <hr>
                                <p>Playstation</p>
                                <li>Heavy Rain</li>
                                <li>Beyond to soul</li>
                                <li>Final fantasy : Type-0</li>
                                <li>Final fantasy : 10</li>
                                <li>Final fantasy : 10-2</li>
                                <li>Final fantasy : 12</li>
                                <li>Dragon quest heroes 1</li>
                                <li>Dragon quest heroes 2</li>
                                <li>Dragon quest builders</li>
                                <li>Ys 8 : Lacrimosa of DANA</li>
                                <li>마녀와 백기병</li>
                                <li>Odin Sphere: Leifthrasir</li>
                                <li>소피의 아틀리에</li>
                                <li>Watch dogs 1</li>
                                <li>Watch dogs 2</li>
                                <li>Gravity rush 1</li>
                                <li>Gravity rush 2</li>
                                <li>나루티밋 스톰 4</li>
                                <li>God of war 3</li>
                                <li>Infamous second son</li>
                                <li>Infamous second son : first light</li>
                                <li>The last of us</li>
                                <li>Sherlock holmes : crimes & punishment</li>
                                <li>Uncharted 1</li>
                                <li>Uncharted 2</li>
                                <li>Uncharted 3</li>
                                <li>마계전기 디스가이아 5</li>
                                <li>Nier automata</li>
                                <li>신 요마와리 2</li>
                                <li>Dragon's Crown</li>
                                <li>Ys : origin</li>
                                <li>Uncharted 4</li>
                                <li>니노쿠니 2</li>

                                <hr>
                                <p>Mobile</p>
                                <li>Dragon quest 1</li>
                                <li>Shadowverse</li>
                                <li>Arcane straight</li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- /Row -->


















            </div>
            <!-- /Container -->

            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>2016년부터 만드는 중</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">오늘도 행복한 하루 보내세요.</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
            
        <!-- /Main Content -->
