


		<!-- Main Content -->
			<!-- Container -->
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="profile-cover-wrap overlay-wrap">
                            <div class="profile-cover-img" style="background-image:url('image/me/bg_me_01-02.jpg')"></div>
							<div class="bg-overlay bg-trans-dark-60"></div>
							<div class="container profile-cover-content py-50">
								<div class="hk-row"> 
									<div class="col-lg-6">
										<div class="media align-items-center">
											<div class="media-img-wrap  d-flex">
												<div class="avatar">
													<img src="image/me/me_02_small.jpg" alt="user" class="avatar-img rounded-circle">
												</div>
											</div>
											<div class="media-body">
												<div class="text-white text-capitalize display-6 mb-5 font-weight-400">Lee Heechang</div>
												<div class="font-14 text-white"><span class="mr-5"><span class="mr-5">Developer</span></span></div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="button-list">
											<a href="#" class="btn btn-dark btn-wth-icon icon-wthot-bg btn-rounded"><span class="btn-text">Message</span><span class="icon-label"><i class="icon ion-md-mail"></i> </span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="bg-white shadow-bottom">
							<div class="container">
								<ul class="nav nav-light nav-tabs" role="tablist">
									<li class="nav-item">
										<a href="#" class="d-flex h-60p align-items-center nav-link active">나에요</a>
									</li>
									<li class="nav-item">
										<a href="#" class="d-flex h-60p align-items-center nav-link">개발자란?</a>
									</li>
									<li class="nav-item">
										<a href="#" class="d-flex h-60p align-items-center nav-link">배운 것과 남긴 것</a>
									</li>
									<li class="nav-item">
										<a href="#" class="d-flex h-60p align-items-center nav-link">해온 것</a>
									</li>
								</ul>
							</div>	
						</div>	
						<div class="tab-content mt-sm-60 mt-30">
							<div class="tab-pane fade show active" role="tabpanel">
								<div class="container">















									<div class="hk-row">  <!-- 이게 한 row-->

										<!-- left area : my picture -->
										<div class="col-lg-6">
											<div class="card card-profile-feed">
                                                <div class="card-header card-header-action">
													<h6>나에요</h6>

												</div>
												<div class="card-body">
													<div class="col-xl-12 pa-0">
														<section class="hk-sec-wrapper">
															<div class="row">
																<div class="col-sm">
																	<div class="row">
																	<img src="image/me/me_03.jpg" class="img-fluid rounded mx-auto d-block" alt="img">
																</div>
															</div>
														</section>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"재미있는 그리고 재미있게 개발을 해야지"</span>
																<br/>
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"사회에 기여할 수 있는 개발자가 되고 싶다"</span>
																<br/>
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"익숙함과 그에 따르는 편안함에 주의하며 살자"</span>
															</li>
														</ul>
																<!--
														<span class="d-block text-capitalize font-14">제 사진 입니다.</span>
														-->
													</div>


												</div>

                                            </div>
										</div>



										<!-- Right area : google map -->
										<div class="col-lg-6">

											<div class="card card-profile-feed">
                                                <div class="card-header card-header-action">
													<h6>여기에 살고 있어요</h6>
												</div>
												<div class="card-body">
													<div class="col-xl-12 pa-0">
														<section class="hk-sec-wrapper">

														<!--gmap 클래스는 너무 크기가 커서 gmap class 안쓰고 그냥 height를 사진높이와 맞게 지정(20200614)-->
														<div id="map_me" style="height:333px"></div>
														</section>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"자란 곳 : 경기도 안양시 비산동"</span>
																<br/>
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"일하는 곳 : 서울 송파구 (잠실)"</span>
																<br/>
																<span><span>-</span></span>
																<span class="ml-5 text-dark">"지내는 곳 : 서울 광진구 구의동"</span>
															</li>
														</ul>
														</div>
											</div>
											</div>
										</div>
									</div>































									<div class="hk-row">  <!-- 이게 한 row-->


										<div class="col-lg-6">
											<div class="card card-profile-feed">
                                                <div class="card-header card-header-action">
													<div class="media align-items-center">
														<div class="media-img-wrap d-flex mr-10">
															<div class="avatar avatar-sm">
																<img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
															</div>
														</div>
														<div class="media-body">
															<div class="text-capitalize font-weight-500 text-dark">개발 철학</div>
															<div class="font-13">25 min</div>
														</div>
													</div>
												</div>
												<div class="card-body">
													<p class="card-text mb-30">I have a lot of interest in web development. And aim to be a software architect who can develop/build/manage web applications.</p>
													<div class="card">
														<div class="position-relative">
															<img class="card-img-top d-block" src="dist/img/cropper.jpg" alt="Card image cap">
															<a href="#" class="btn btn-dark btn-wth-icon icon-wthot-bg btn-rounded btn-pg-link"><span class="icon-label"><i class="ion ion-md-link"></i></span><span class="btn-text">website</span></a>
														</div>
														<div class="card-body">
															<h5 class="card-title">현재 직무는 아키텍트.</h5>
															<p class="card-text">하고 싶은 직무 혹은 할 수 있는 직무. 이 라인 그러니까 인생에서의 개발 목표. 흥미분야. 학력 및 자격증 이쪽은 3개를 잘 조절해보자.</p>
														</div>
													</div>
												</div>
												<div class="card-footer justify-content-between">
                                                    <div>
														<a href="#"><i class="ion ion-md-heart text-primary"></i>30K</a>
													</div>
													<div>
														<a href="#">1K comments</a>
														<a href="#">12 shares</a>
													</div>
                                                </div>
                                            </div>
										</div>

























										<!-- Right area-->
										<div class="col-lg-6">

											<div class="card card-profile-feed">
                                                <div class="card-header card-header-action">
													<h6>My interesting field (격자로)</h6>
												</div>
												<ul class="list-group list-group-flush">
                                                    <li class="list-group-item border-0">
														<div class="media align-items-center">
															<div class="d-flex media-img-wrap mr-15">
																<div class="avatar avatar-sm">
																	<img src="dist/img/avatar1.jpg" alt="user" class="avatar-img rounded-circle">
																</div>
															</div>
															<div class="media-body">
																<span class="d-block text-dark text-capitalize">Docker</span>
																<span class="d-block font-13">Container Runtime Interface</span>
															</div>
														</div>
													</li>
													<li class="list-group-item border-0">
														<div class="media align-items-center">
															<div class="d-flex media-img-wrap mr-15">
																<div class="avatar avatar-sm">
																	<img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
																</div>
															</div>
															<div class="media-body">
																<span class="d-block text-dark text-capitalize">Kubernetes</span>
																<span class="d-block font-13">Container Orchestration Tool</span>
															</div>
														</div>
													</li>
													<li class="list-group-item border-0">
														<div class="media align-items-center">
															<div class="d-flex media-img-wrap mr-15">
																<div class="avatar avatar-sm">
																	<img src="dist/img/avatar3.jpg" alt="user" class="avatar-img rounded-circle">
																</div>
															</div>
															<div class="media-body">
																<span class="d-block text-dark text-capitalize">Linux</span>
																<span class="d-block font-13">OS</span>
															</div>
														</div>
													</li>
													<li class="list-group-item border-0">
														<div class="media align-items-center">
															<div class="d-flex media-img-wrap mr-15">
																<div class="avatar avatar-sm">
																	<img src="dist/img/avatar4.jpg" alt="user" class="avatar-img rounded-circle">
																</div>
															</div>
															<div class="media-body">
																<span class="d-block text-dark text-capitalize">Golang</span>
																<span class="d-block font-13">Language</span>
															</div>
														</div>
													</li>
													<li class="list-group-item border-0">
														<div class="media align-items-center">
															<div class="d-flex media-img-wrap mr-15">
																<div class="avatar avatar-sm">
																	<img src="dist/img/avatar5.jpg" alt="user" class="avatar-img rounded-circle">
																</div>
															</div>
															<div class="media-body">
																<span class="d-block text-dark text-capitalize">Eziquiel Merideth</span>
																<span class="d-block font-13">Paypal</span>
															</div>
														</div>
													</li>
                                                </ul>
											</div>

										
											<div class="card card-profile-feed">
												<div class="card-header card-header-action">
													<h6><span>학력 및 전공 / 자격증(세로줄로 2영역으로)</span></h6>
												</div>	




												<div class="card-body">
													<div class="row text-center">
														<div class="col-12 px-0">
															<div class="row">
																<div class="col-sm">
																	<div class="table-wrap">
																		<table id="datable_2" class="table table-hover display">
																			<thead>
																				<tr>
																					<th>School</th>
																					<th>Score</th>
																					<th>Graduate</th>
																					<th>Location</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Gavin Cortez</td>
																					<td>Team Leader</td>
																					<td>San Francisco</td>
																					<td>22</td>
																				</tr>
																				<tr>
																					<td>Martena Mccray</td>
																					<td>Post-Sales support</td>
																					<td>Edinburgh</td>
																					<td>46</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>		
														</div>
													</div>
												</div>













											</div>
										</div>
									</div>




























									<div class="hk-row">  <!-- 이게 한 row-->

										<!-- left area : my picture -->
										<div class="col-lg-12">
											<div class="card card-profile-feed">
                                                <div class="card-header card-header-action">
													<h6>나에요</h6>

												</div>
												<div class="card-body">


													<div class="row">
														<div class="col-lg-12">
															<section class="hk-sec-wrapper">
																<h5 class="hk-sec-title">Project</h5>
																<p class="mb-40">그 동안 내가 다녀온 프로젝트와 거기서 배운 것들.</p>
																<div class="row">
																	<div class="col-sm">
																		<div class="table-wrap">
<table id="datable_1" class="table table-hover w-100 display pb-30" style="font-size:10px">
	<thead>
		<tr>
			<th>Date</th>
			<th>Project</th>
			<th>Position</th>
			<th>Role</th>
			<th>Major Tech.</th>
			<th>Minor Tech.</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2013년 02월</td>
			<td>신규 입사</td>
			<td>Enginner</td>
			<td>입사 후 사내교육</td>
			<td>Web app. Outro, java, Spring F/W</td>
			<td>jsp, SQL, javascript</td>
		</tr>
		<tr>
			<td>2013년 05월</td>
			<td>NBEM SI project</td>
			<td>SA Assistant</td>
			<td>Web dev. / Server 관리</td>
			<td>Javascript, jsp, Cosmos F/W, jenkins</td>
			<td>Tibero, Sybase, TrustForm</td>
		</tr>
		<tr>
			<td>2014년 08월</td>
			<td>EFSS Web solution</td>
			<td>Developer</td>
			<td>Web 개발</td>
			<td>AngularJS, Javascript, Spring F/W</td>
			<td>Oracle, MySQL, jQuery</td>
		</tr>
		<tr>
			<td>2015년 06월</td>
			<td>Docker container</td>
			<td>S/W Architect</td>
			<td>Container Tech PoC</td>
			<td>Container Engine, Docker, K8S, Swarm</td>
			<td>Shell script, Linux, Virtualization</td>
		</tr>
		<tr>
			<td>2016년 01월</td>
			<td>Containerized App</td>
			<td>S/W Architect</td>
			<td>사내 솔루션 Container 기술 적용</td>
			<td>Docker, Docker compose, K8S</td>
			<td>Cassandra, Shell script</td>
		</tr>
		<tr>
			<td>2016년 06월</td>
			<td>Registry Service</td>
			<td>S/W Architect</td>
			<td>Container registry Webapp 개발</td>
			<td>Docker, Springboot, Javascript</td>
			<td>CI/CD(jenkins), Linux, Agile</td>
		</tr>
		<tr>
			<td>2016년 11월</td>
			<td>NoSQL with Container</td>
			<td>S/W Architect</td>
			<td>DB containerized Support</td>
			<td>Docker, K8S, scyllaDB, SA</td>
			<td>Shell script, NoSQL, Consul</td>
		</tr>
		<tr>
			<td>2017년 03월</td>
			<td>Registry Service</td>
			<td>S/W Architect</td>
			<td>Server 관리</td>
			<td>Backup, H/A, 장애복구</td>
			<td>서버 관리(Logging, Monitoring)</td>
		</tr>
		<tr>
			<td>2018년 01월</td>
			<td>PaaS Service</td>
			<td>Container Architect</td>
			<td>PaaS Service 적용</td>
			<td>Docker, K8S, Shell script</td>
			<td>Linux Server Performance, Tuning</td>
		</tr>
		<tr>
			<td>2019년 01월</td>
			<td>Container Registry PoC</td>
			<td>Container Enginner</td>
			<td>Registry 기능 검증 및 적용</td>
			<td>Docker & registry, K8S</td>
			<td>K8S App Packaging</td>
		</tr>		
		<tr>
			<td>2019년 06월</td>
			<td>K8S Service 패키징</td>
			<td>Container Enginner</td>
			<td>Registry 패키지 설치 및 기술지원</td>
			<td>Docker, K8S, Shell script</td>
			<td>Linux Server Performance, Tuning</td>
		</tr>	
		<tr>
			<td>2020년 03월</td>
			<td>K8S & Edge Computing</td>
			<td>Container Enginner</td>
			<td>K8S 기술 적용(Edge Comp.)</td>
			<td>Kube Edge, Raspberrypi</td>
			<td>CRI, K8S</td>
		</tr>	
	</tbody>
	<tfoot>
		<tr>
			<th>Date</th>
			<th>Project</th>
			<th>Position</th>
			<th>Role</th>
			<th>Major Tech.</th>
			<th>Minor Tech.</th>
		</tr>
	</tfoot>
</table>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>















								</div>
							</div>
						</div>	
					</div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="https://hencework.com/" class="text-dark" target="_blank">Hencework</a> © 2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
		<!-- /Main Content -->
		




	<!--my custom javascript : datatable-->
    <!-- Data Table JavaScript -->
    <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="vendors/jszip/dist/jszip.min.js"></script>
    <script src="vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="dist/js/dataTables-data.js"></script>


	<!--my custom javascript : google map-->
	<script
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHDDloJ6W5zBU9Xns9rXQvGtm_kC-aegY&callback=initMap&libraries=&v=weekly" defer>
	</script>
	<script>
        (function(exports) {
            "use strict";

			var map;
			var mapOption = {
				//my city location information
				center : {
					lat : 37.545877,
					lng : 127.090931
				},
				zoom : 10
			}

            function initMap() {
				try{
					map = new google.maps.Map(document.getElementById('map_me'),mapOption);
					// 마커로 사용할 이미지 주소
					var marker;
					//maps.google.com 에서 주소 검색후 우클릭으로 위도, 경도 조사
					//1. my home
					marker = new google.maps.Marker({
						position : {
							lat : 37.545877,
							lng : 127.090931
						},
						map : map,
						title : 'my home :)'
					});
				}catch (e){
					console.log("[INFO] Fail to load google api. Map div will be replaced :)");
					$('#map_me').append('<img src="/resource/img/myweb_019.png" style="width:100%; height:100%"/>');
				}


            }
            exports.initMap = initMap;
        })((this.window = this.window || {}));
    </script>
