        <!-- Main Content -->
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item active" aria-current="page">Photo album</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="layers"></i></span></span>Photo album</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper hk-gallery-wrap">
                            <ul class="nav nav-light nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Library</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Photos</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Video</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Album</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel">
                                    <h6 class="mt-30 mb-20">22 October</h6>
                                    <div class="row hk-gallery">
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock1.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock1.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="dist/img/gallery/mock2.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock2.jpg');"></div>
                                                <i class="ion ion-ios-play"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock3.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock3.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="http://vimeo.com/1084537" data-poster="dist/img/gallery/mock4.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock4.jpg');"></div>
                                                <i class="ion ion-ios-play"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock5.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock5.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock6.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock6.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock7.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock7.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock8.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock8.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock9.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock9.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock10.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock10.jpg');"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <h6 class="mt-30 mb-20">Yesterday</h6>
                                    <div class="row hk-gallery">
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock11.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock11.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="dist/img/gallery/mock2.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock12.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock13.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock13.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="http://vimeo.com/1084537" data-poster="dist/img/gallery/mock4.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock14.jpg');"></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 mb-10" data-src="dist/img/gallery/mock15.jpg">
                                            <a href="#" class="">
                                                <div class="gallery-img" style="background-image:url('dist/img/gallery/mock15.jpg');"></div>
                                            </a>
                                        </div>    
                                    </div>
								</div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="https://hencework.com/" class="text-dark" target="_blank">Hencework</a> © 2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
        <!-- /Main Content -->
