        <!-- Main Content -->
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">


                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="layers"></i></span></span>Piano</h4>
                </div>
                <!-- /Title -->


                <section class="hk-sec-wrapper">
                    <h5 class="hk-sec-title">피아노</h5>

                    <!--
                        피아노 페이지에 나오는 이미지 파일들은 사이즈를 맞추자
                        1. 적당히 크기가 있어야하고 (작을때 조금 크게 나옴)
                        2. 비율 : 1280x720 = 1.778 : 1

                    -->
                    <p class="mb-40">지금까지 내가 배워온 피아노 곡들</p>
                    <div class="row">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>오르막길</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">정인</p>
                                            <p style="text-align: right;">작곡 : 윤종신</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-uphill.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>마음을 드려요.</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">아이유</p>
                                            <p style="text-align: right;">드라마 '사랑의 불시착' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-i-give-you-my-heart.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>내 눈물 모아</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">서지원</p>
                                            <p style="text-align: right;">작사/작곡 : 김혜선/정재형</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-seojiwon2.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>그대라는 시</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">태연</p>
                                            <p style="text-align: right;">드라마 '호텔 델루나' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-a-poem-called-you.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>잊지 말아요.</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">백지영</p>
                                            <p style="text-align: right;">드라마 '아이리스' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-dont-forget-me.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>Happy things</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">제이래빗</p>
                                            <p style="text-align: right;">작사/작곡 : 제이래빗</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-happy-things.jpg">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>사랑하면 할수록</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">한성민</p>
                                            <p style="text-align: right;">영화 '클래식' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piaano-more-love-more.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>얼마나 좋을까</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">이수영</p>
                                            <p style="text-align: right;">게임 '파이널 판타지 10' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-final-fantasy-10.jpg">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>바다가 보이는 마을</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">작곡 : Hisaishi joe</p>
                                            <p style="text-align: right;">영화 '마녀배달부 키키' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-kiki.jpg">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>Butterfly waltz</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">Brian Crain</p>
                                            <p style="text-align: right;">뉴에이지</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-butterfly-waltz.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="card border">
                                        <div class="card-header font-14">
                                            <p>첫 눈처럼 너에게 가겠다</p>
                                        </div>
                                        <div class="card-header font-14">
                                            <p style="text-align: right;">에일리</p>
                                            <p style="text-align: right;">드라마 '도깨비' OST</p>
                                        </div>
                                        <img class="card-img-top" src="image/piano/piano-dokkaebi.png">
                                        <div class="card-body">
                                            <p class="card-text font-14" style="text-align: center;">악보보기 / 노래듣기</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>




            </div>
            <!-- /Container -->

            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>이 페이지는 이미지 넣기가 귀찮귀찮</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">1280 * 720</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
            
        <!-- /Main Content -->
